# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Compiler outputs
[Bb]in/
[Oo]bj/

# Test Results, screenshots and downloaded files
[Tt]est[Rr]esults/
TestResults/
*.trx

# Allure reporting results and compiled dashboards
allure-results/
allure-report/
bin/Debug/net9.0/allure-results/
bin/Debug/net9.0/allure-report/
AutomationExercise.Tests/bin/Debug/net9.0/allure-results/
AutomationExercise.Tests/bin/Debug/net9.0/allure-report/
AutomationExercise.Tests/bin/Debug/net9.0/TestResults/

# Playwright binaries and logs
.playwright/
playwright-log.txt

